In [1]:
import pandas
import sqlite3

connection=sqlite3.connect('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/NASDAQ')

In [2]:
import pandas
import sqlite3

connection=sqlite3.connect('C:/sers/ltorrado/Desktop/Apps/Finanzas/app_finance/NASDAQ')

OperationalError: unable to open database file

In [3]:
clear()

In [4]:
import pandas as pd
import sqlite3

connection=sqlite3.connect('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/NASDAQ')
df=pd.read_sql('SELECT * FROM OVERVIEW_NASDAQ ',connection)
connection.close()
df

,SYMBOL,ASSET_TYPE,NAME,DESCRIPTION,EXCHANGE,CURRENCY,COUNTRY,SECTOR,INDUSTRY,ADDRESS,...,SHORT_PERCENT_FLOAT,PERCENT_INSIDERS,PERCENT_INSTITUTIONS,FOWARD_ANNUAL_DIVIDEND_RATE,FOWARD_ANNUAL_DIVIDEND_YIELD,PAYOUT_RATIO,DIVIDEND_DATE,EX_DIVIDEND_DATE,LAST_SPLIT_FACTOR,LAST_SPLIT_DATE
0,AAL,Common Stock,American Airlines Group Inc,"American Airlines Group Inc., through its subs...",NASDAQ,USD,USA,Industrials,Airlines,"1 Skyview Drive, Fort Worth, TX, United States...",...,0.431,1.165,84.803,0.4,0.0313,0.1055,2020-02-19,2020-02-04,0:1,2013-12-09
1,AAME,Common Stock,Atlantic American Corporation,"Atlantic American Corporation, through its sub...",NASDAQ,USD,USA,Financial Services,InsuranceLife,"4370 Peachtree Road, NE, Atlanta, GA, United S...",...,0.0037,80.135,5.399,0.02,0.0093,0,2019-04-24,2019-04-09,5:4,1986-11-04
2,AAOI,Common Stock,"Applied Optoelectronics, Inc","Applied Optoelectronics, Inc. designs, manufac...",NASDAQ,USD,USA,Technology,Semiconductors,"13139 Jess Pirtle Boulevard, Sugar Land, TX, U...",...,0.3019,7.319,61.55,0,0,0,None,None,None,None
3,AAON,Common Stock,"AAON, Inc","AAON, Inc., together with its subsidiaries, en...",NASDAQ,USD,USA,Industrials,Building Products & Equipment,"2425 South Yukon Avenue, Tulsa, OK, United Sta...",...,0.0981,21.984,72.298,0.38,0.0066,0.2593,2020-07-01,2020-06-02,3:2,2014-07-17
4,AAPL,Common Stock,Apple Inc,"Apple Inc. designs, manufactures, and markets ...",NASDAQ,USD,USA,Technology,Consumer Electronics,"One Apple Park Way, Cupertino, CA, United Stat...",...,0.0055,0.066,62.115,3.28,0.0066,0.2373,2020-08-13,2020-08-07,7:1,2014-06-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,KE,Common Stock,"Kimball Electronics, Inc","Kimball Electronics, Inc. provides contract el...",NASDAQ,USD,USA,Industrials,Electrical Equipment & Parts,"1205 Kimball Boulevard, Jasper, IN, United Sta...",...,0.0074,3.921,63.09,0,0,0,None,None,5:1,2013-09-05
1231,KELYA,Common Stock,"Kelly Services, Inc","Kelly Services, Inc., together with its subsid...",NASDAQ,USD,USA,Industrials,Staffing & Employment Services,"999 West Big Beaver Road, Troy, MI, United Sta...",...,0,7.094,84.043,0.3,0.0238,0.1056,2020-03-09,2020-02-21,5:4,1993-06-14
1232,KELYB,Common Stock,"Kelly Services, Inc","Kelly Services, Inc., together with its subsid...",NASDAQ,USD,USA,Industrials,Staffing & Employment Services,"999 West Big Beaver Road, Troy, MI, United Sta...",...,0.0768,91.692,5.72,0.3,0.0265,0.1056,2020-03-09,2020-02-21,5:4,1993-06-14
1233,KEQU,Common Stock,Kewaunee Scientific Corporation,"Kewaunee Scientific Corporation designs, manuf...",NASDAQ,USD,USA,Consumer Cyclical,"Furnishings, Fixtures & Appliances","2700 West Front Street, Statesville, NC, Unite...",...,0.002,17.923,41.89,0,0.0475,0,2019-09-24,2019-09-09,3:2,1985-01-07
1234,KERX,Common Stock,"Keryx Biopharmaceuticals, Inc","Keryx Biopharmaceuticals, Inc., a commercial s...",NASDAQ,USD,USA,Other,Other,"One Marina Park Drive, 12th Floor\n02210,Bosto...",...,0,0,0,0,0,0,None,None,None,None

In [5]:
print(df.columns)

Index(['SYMBOL', 'ASSET_TYPE', 'NAME', 'DESCRIPTION', 'EXCHANGE', 'CURRENCY',
       'COUNTRY', 'SECTOR', 'INDUSTRY', 'ADDRESS', 'FULLTIMEEMPLOYEES',
       'FISCALYEAREND', 'LATESTQUARTER', 'MARKETCAPITALIZATION', 'EBITDA',
       'PER_RATIO', 'PEG_RATIO', 'BOOKVALUE', 'DIVIDEND_PER_SHARE',
       'DIVIDEND_YIELD', 'EPS', 'REVENUE_PER_SHARE_TTM', 'PROFIT_MARGIN',
       'OPERATING_MARGIN_TTM', 'RETURN_ON_ASSET_TTM', 'RETURN_ON_EQUITY_TTM',
       'REVENUE_TTM', 'GROSSPROFIT_TTM', 'DILUTED_EPS_TTM',
       'QUARTERLY_EARNINGS_GROWTH_YOY', 'QUARTERLY_RENEVUE_GROWTH_YOY',
       'ANALYST_TARGET_PRICE', 'TRAILING_PE', 'FOWARD_PE',
       'PRICE_TO_SALE_RATIO_TTM', 'PRICE_TO_BOOK_RATIO', 'EV_TO_REVENUE',
       'EV_TO_EBITDA', 'BETA', 'C52WEEKHIGH', 'C52WEEKLOW',
       'C50DAYMOVINGAVERAGE', 'C200DAYMOVINGAVERAGE', 'SHARES_OUTSTANDING',
       'SHARES_FLOAT', 'SHARES_SHORT', 'SHARES_SHORTPRIORMONTH', 'SHORT_RATIO',
       'SHORT_PERCENT_OUTSTANDING', 'SHORT_PERCENT_FLOAT', 'PERCENT_INSIDERS',
       'PERCENT_INSTITUTIONS', 'FOWARD_ANNUAL_DIVIDEND_RATE',
       'FOWARD_ANNUAL_DIVIDEND_YIELD', 'PAYOUT_RATIO', 'DIVIDEND_DATE',
       'EX_DIVIDEND_DATE', 'LAST_SPLIT_FACTOR', 'LAST_SPLIT_DATE'],
      dtype='object')

In [6]:
df.groupby(['SECTOR']).mean().sort_values()

DataError: No numeric types to aggregate

In [7]:
df.type()

AttributeError: 'DataFrame' object has no attribute 'type'

In [8]:
df.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [9]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [10]:
df.dtypes

SYMBOL                           object
ASSET_TYPE                       object
NAME                             object
DESCRIPTION                      object
EXCHANGE                         object
CURRENCY                         object
COUNTRY                          object
SECTOR                           object
INDUSTRY                         object
ADDRESS                          object
FULLTIMEEMPLOYEES                object
FISCALYEAREND                    object
LATESTQUARTER                    object
MARKETCAPITALIZATION             object
EBITDA                           object
PER_RATIO                        object
PEG_RATIO                        object
BOOKVALUE                        object
DIVIDEND_PER_SHARE               object
DIVIDEND_YIELD                   object
EPS                              object
REVENUE_PER_SHARE_TTM            object
PROFIT_MARGIN                    object
OPERATING_MARGIN_TTM             object
RETURN_ON_ASSET_TTM              object
RETURN_ON_EQUITY_TTM             object
REVENUE_TTM                      object
GROSSPROFIT_TTM                  object
DILUTED_EPS_TTM                  object
QUARTERLY_EARNINGS_GROWTH_YOY    object
QUARTERLY_RENEVUE_GROWTH_YOY     object
ANALYST_TARGET_PRICE             object
TRAILING_PE                      object
FOWARD_PE                        object
PRICE_TO_SALE_RATIO_TTM          object
PRICE_TO_BOOK_RATIO              object
EV_TO_REVENUE                    object
EV_TO_EBITDA                     object
BETA                             object
C52WEEKHIGH                      object
C52WEEKLOW                       object
C50DAYMOVINGAVERAGE              object
C200DAYMOVINGAVERAGE             object
SHARES_OUTSTANDING               object
SHARES_FLOAT                     object
SHARES_SHORT                     object
SHARES_SHORTPRIORMONTH           object
SHORT_RATIO                      object
SHORT_PERCENT_OUTSTANDING        object
SHORT_PERCENT_FLOAT              object
PERCENT_INSIDERS                 object
PERCENT_INSTITUTIONS             object
FOWARD_ANNUAL_DIVIDEND_RATE      object
FOWARD_ANNUAL_DIVIDEND_YIELD     object
PAYOUT_RATIO                     object
DIVIDEND_DATE                    object
EX_DIVIDEND_DATE                 object
LAST_SPLIT_FACTOR                object
LAST_SPLIT_DATE                  object
dtype: object

In [11]:
df['SHARES_SHORT'] = df['SHARES_SHORT'].astype(float)
df.dtypes

SYMBOL                            object
ASSET_TYPE                        object
NAME                              object
DESCRIPTION                       object
EXCHANGE                          object
CURRENCY                          object
COUNTRY                           object
SECTOR                            object
INDUSTRY                          object
ADDRESS                           object
FULLTIMEEMPLOYEES                 object
FISCALYEAREND                     object
LATESTQUARTER                     object
MARKETCAPITALIZATION              object
EBITDA                            object
PER_RATIO                         object
PEG_RATIO                         object
BOOKVALUE                         object
DIVIDEND_PER_SHARE                object
DIVIDEND_YIELD                    object
EPS                               object
REVENUE_PER_SHARE_TTM             object
PROFIT_MARGIN                     object
OPERATING_MARGIN_TTM              object
RETURN_ON_ASSET_TTM               object
RETURN_ON_EQUITY_TTM              object
REVENUE_TTM                       object
GROSSPROFIT_TTM                   object
DILUTED_EPS_TTM                   object
QUARTERLY_EARNINGS_GROWTH_YOY     object
QUARTERLY_RENEVUE_GROWTH_YOY      object
ANALYST_TARGET_PRICE              object
TRAILING_PE                       object
FOWARD_PE                         object
PRICE_TO_SALE_RATIO_TTM           object
PRICE_TO_BOOK_RATIO               object
EV_TO_REVENUE                     object
EV_TO_EBITDA                      object
BETA                              object
C52WEEKHIGH                       object
C52WEEKLOW                        object
C50DAYMOVINGAVERAGE               object
C200DAYMOVINGAVERAGE              object
SHARES_OUTSTANDING                object
SHARES_FLOAT                      object
SHARES_SHORT                     float64
SHARES_SHORTPRIORMONTH            object
SHORT_RATIO                       object
SHORT_PERCENT_OUTSTANDING         object
SHORT_PERCENT_FLOAT               object
PERCENT_INSIDERS                  object
PERCENT_INSTITUTIONS              object
FOWARD_ANNUAL_DIVIDEND_RATE       object
FOWARD_ANNUAL_DIVIDEND_YIELD      object
PAYOUT_RATIO                      object
DIVIDEND_DATE                     object
EX_DIVIDEND_DATE                  object
LAST_SPLIT_FACTOR                 object
LAST_SPLIT_DATE                   object
dtype: object

In [12]:
df.groupby(['SECTOR']).mean().sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [13]:
df.groupby(['SECTOR']).mean()

                        SHARES_SHORT
SECTOR
                        1.730100e+04
Basic Materials         3.412301e+06
Communication Services  8.629061e+06
Consumer Cyclical       5.642276e+06
Consumer Defensive      1.657237e+06
Energy                  2.996618e+06
Financial Services      1.302041e+06
Healthcare              5.861271e+06
Industrials             3.646005e+06
Other                   1.190941e+05
Real Estate             1.780642e+06
Services                4.871730e+05
Technology              4.323180e+06
Utilities               8.023715e+05

In [14]:
df['PROFIT_MARGIN'] = df['PROFIT_MARGIN'].astype(float)
df.dtypes

SYMBOL                            object
ASSET_TYPE                        object
NAME                              object
DESCRIPTION                       object
EXCHANGE                          object
CURRENCY                          object
COUNTRY                           object
SECTOR                            object
INDUSTRY                          object
ADDRESS                           object
FULLTIMEEMPLOYEES                 object
FISCALYEAREND                     object
LATESTQUARTER                     object
MARKETCAPITALIZATION              object
EBITDA                            object
PER_RATIO                         object
PEG_RATIO                         object
BOOKVALUE                         object
DIVIDEND_PER_SHARE                object
DIVIDEND_YIELD                    object
EPS                               object
REVENUE_PER_SHARE_TTM             object
PROFIT_MARGIN                    float64
OPERATING_MARGIN_TTM              object
RETURN_ON_ASSET_TTM               object
RETURN_ON_EQUITY_TTM              object
REVENUE_TTM                       object
GROSSPROFIT_TTM                   object
DILUTED_EPS_TTM                   object
QUARTERLY_EARNINGS_GROWTH_YOY     object
QUARTERLY_RENEVUE_GROWTH_YOY      object
ANALYST_TARGET_PRICE              object
TRAILING_PE                       object
FOWARD_PE                         object
PRICE_TO_SALE_RATIO_TTM           object
PRICE_TO_BOOK_RATIO               object
EV_TO_REVENUE                     object
EV_TO_EBITDA                      object
BETA                              object
C52WEEKHIGH                       object
C52WEEKLOW                        object
C50DAYMOVINGAVERAGE               object
C200DAYMOVINGAVERAGE              object
SHARES_OUTSTANDING                object
SHARES_FLOAT                      object
SHARES_SHORT                     float64
SHARES_SHORTPRIORMONTH            object
SHORT_RATIO                       object
SHORT_PERCENT_OUTSTANDING         object
SHORT_PERCENT_FLOAT               object
PERCENT_INSIDERS                  object
PERCENT_INSTITUTIONS              object
FOWARD_ANNUAL_DIVIDEND_RATE       object
FOWARD_ANNUAL_DIVIDEND_YIELD      object
PAYOUT_RATIO                      object
DIVIDEND_DATE                     object
EX_DIVIDEND_DATE                  object
LAST_SPLIT_FACTOR                 object
LAST_SPLIT_DATE                   object
dtype: object

In [15]:
df.groupby(['SECTOR']).mean()

                        PROFIT_MARGIN  SHARES_SHORT
SECTOR
                             0.000000  1.730100e+04
Basic Materials             -0.461327  3.412301e+06
Communication Services      -0.019633  8.629061e+06
Consumer Cyclical           -0.031628  5.642276e+06
Consumer Defensive           0.011503  1.657237e+06
Energy                      -0.150478  2.996618e+06
Financial Services           0.137312  1.302041e+06
Healthcare                  -0.259655  5.861271e+06
Industrials                 -0.033845  3.646005e+06
Other                        0.000283  1.190941e+05
Real Estate                  0.009453  1.780642e+06
Services                     0.002100  4.871730e+05
Technology                  -0.009049  4.323180e+06
Utilities                    0.065500  8.023715e+05

In [16]:
    df.to_csv(r'C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/NASDAQ_1.csv', index = False)

In [17]:
df.read_csv('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/NASDAQ_1.csv')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [18]:
df1=pd.read_csv('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/NASDAQ_1.csv')

In [19]:
print(df1)

     SYMBOL    ASSET_TYPE                             NAME  \
0       AAL  Common Stock      American Airlines Group Inc
1      AAME  Common Stock    Atlantic American Corporation
2      AAOI  Common Stock     Applied Optoelectronics, Inc
3      AAON  Common Stock                        AAON, Inc
4      AAPL  Common Stock                        Apple Inc
...     ...           ...                              ...
1230     KE  Common Stock         Kimball Electronics, Inc
1231  KELYA  Common Stock              Kelly Services, Inc
1232  KELYB  Common Stock              Kelly Services, Inc
1233   KEQU  Common Stock  Kewaunee Scientific Corporation
1234   KERX  Common Stock    Keryx Biopharmaceuticals, Inc

                                            DESCRIPTION EXCHANGE CURRENCY  \
0     American Airlines Group Inc., through its subs...   NASDAQ      USD
1     Atlantic American Corporation, through its sub...   NASDAQ      USD
2     Applied Optoelectronics, Inc. designs, manufac...   NASDAQ      USD
3     AAON, Inc., together with its subsidiaries, en...   NASDAQ      USD
4     Apple Inc. designs, manufactures, and markets ...   NASDAQ      USD
...                                                 ...      ...      ...
1230  Kimball Electronics, Inc. provides contract el...   NASDAQ      USD
1231  Kelly Services, Inc., together with its subsid...   NASDAQ      USD
1232  Kelly Services, Inc., together with its subsid...   NASDAQ      USD
1233  Kewaunee Scientific Corporation designs, manuf...   NASDAQ      USD
1234  Keryx Biopharmaceuticals, Inc., a commercial s...   NASDAQ      USD

     COUNTRY              SECTOR                            INDUSTRY  \
0        USA         Industrials                            Airlines
1        USA  Financial Services                       InsuranceLife
2        USA          Technology                      Semiconductors
3        USA         Industrials       Building Products & Equipment
4        USA          Technology                Consumer Electronics
...      ...                 ...                                 ...
1230     USA         Industrials        Electrical Equipment & Parts
1231     USA         Industrials      Staffing & Employment Services
1232     USA         Industrials      Staffing & Employment Services
1233     USA   Consumer Cyclical  Furnishings, Fixtures & Appliances
1234     USA               Other                               Other

                                                ADDRESS  ...  \
0     1 Skyview Drive, Fort Worth, TX, United States...  ...
1     4370 Peachtree Road, NE, Atlanta, GA, United S...  ...
2     13139 Jess Pirtle Boulevard, Sugar Land, TX, U...  ...
3     2425 South Yukon Avenue, Tulsa, OK, United Sta...  ...
4     One Apple Park Way, Cupertino, CA, United Stat...  ...
...                                                 ...  ...
1230  1205 Kimball Boulevard, Jasper, IN, United Sta...  ...
1231  999 West Big Beaver Road, Troy, MI, United Sta...  ...
1232  999 West Big Beaver Road, Troy, MI, United Sta...  ...
1233  2700 West Front Street, Statesville, NC, Unite...  ...
1234  One Marina Park Drive, 12th Floor\n02210,Bosto...  ...

     SHORT_PERCENT_FLOAT PERCENT_INSIDERS PERCENT_INSTITUTIONS  \
0                 0.4310            1.165               84.803
1                 0.0037           80.135                5.399
2                 0.3019            7.319               61.550
3                 0.0981           21.984               72.298
4                 0.0055            0.066               62.115
...                  ...              ...                  ...
1230              0.0074            3.921               63.090
1231              0.0000            7.094               84.043
1232              0.0768           91.692                5.720
1233              0.0020           17.923               41.890
1234              0.0000            0.000                0.000

     FOWARD_ANNUAL_DIVIDEND_RATE FOWARD_ANNUAL_DIVIDEND_YIELD PAYOUT_RATIO  \
0                           0.40                       0.0313       0.1055
1                           0.02                       0.0093       0.0000
2                           0.00                       0.0000       0.0000
3                           0.38                       0.0066       0.2593
4                           3.28                       0.0066       0.2373
...                          ...                          ...          ...
1230                        0.00                       0.0000       0.0000
1231                        0.30                       0.0238       0.1056
1232                        0.30                       0.0265       0.1056
1233                        0.00                       0.0475       0.0000
1234                        0.00                       0.0000       0.0000

     DIVIDEND_DATE EX_DIVIDEND_DATE LAST_SPLIT_FACTOR LAST_SPLIT_DATE
0       2020-02-19       2020-02-04               0:1      2013-12-09
1       2019-04-24       2019-04-09               5:4      1986-11-04
2             None             None              None            None
3       2020-07-01       2020-06-02               3:2      2014-07-17
4       2020-08-13       2020-08-07               7:1      2014-06-09
...            ...              ...               ...             ...
1230          None             None               5:1      2013-09-05
1231    2020-03-09       2020-02-21               5:4      1993-06-14
1232    2020-03-09       2020-02-21               5:4      1993-06-14
1233    2019-09-24       2019-09-09               3:2      1985-01-07
1234          None             None              None            None

[1235 rows x 59 columns]

In [20]:
df1.dtypes

SYMBOL                            object
ASSET_TYPE                        object
NAME                              object
DESCRIPTION                       object
EXCHANGE                          object
CURRENCY                          object
COUNTRY                           object
SECTOR                            object
INDUSTRY                          object
ADDRESS                           object
FULLTIMEEMPLOYEES                 object
FISCALYEAREND                     object
LATESTQUARTER                     object
MARKETCAPITALIZATION              object
EBITDA                            object
PER_RATIO                         object
PEG_RATIO                         object
BOOKVALUE                         object
DIVIDEND_PER_SHARE                object
DIVIDEND_YIELD                    object
EPS                               object
REVENUE_PER_SHARE_TTM            float64
PROFIT_MARGIN                    float64
OPERATING_MARGIN_TTM             float64
RETURN_ON_ASSET_TTM              float64
RETURN_ON_EQUITY_TTM             float64
REVENUE_TTM                        int64
GROSSPROFIT_TTM                    int64
DILUTED_EPS_TTM                  float64
QUARTERLY_EARNINGS_GROWTH_YOY    float64
QUARTERLY_RENEVUE_GROWTH_YOY     float64
ANALYST_TARGET_PRICE              object
TRAILING_PE                      float64
FOWARD_PE                        float64
PRICE_TO_SALE_RATIO_TTM          float64
PRICE_TO_BOOK_RATIO              float64
EV_TO_REVENUE                    float64
EV_TO_EBITDA                     float64
BETA                              object
C52WEEKHIGH                       object
C52WEEKLOW                        object
C50DAYMOVINGAVERAGE              float64
C200DAYMOVINGAVERAGE             float64
SHARES_OUTSTANDING                 int64
SHARES_FLOAT                       int64
SHARES_SHORT                     float64
SHARES_SHORTPRIORMONTH             int64
SHORT_RATIO                      float64
SHORT_PERCENT_OUTSTANDING        float64
SHORT_PERCENT_FLOAT              float64
PERCENT_INSIDERS                 float64
PERCENT_INSTITUTIONS             float64
FOWARD_ANNUAL_DIVIDEND_RATE      float64
FOWARD_ANNUAL_DIVIDEND_YIELD     float64
PAYOUT_RATIO                     float64
DIVIDEND_DATE                     object
EX_DIVIDEND_DATE                  object
LAST_SPLIT_FACTOR                 object
LAST_SPLIT_DATE                   object
dtype: object

In [1]:
connection=sqlite3.connect('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/SP500')
df=pd.read_sql('SELECT * FROM OVERVIEW_SP500 ',connection)
connection.close()

NameError: name 'sqlite3' is not defined

In [2]:
import pandas as pd
import sqlite3

connection=sqlite3.connect('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/SP500')
df_sp500=pd.read_sql('SELECT * FROM OVERVIEW_SP500 ',connection)
connection.close()

DatabaseError: Execution failed on sql 'SELECT * FROM OVERVIEW_SP500 ': no such table: OVERVIEW_SP500

In [3]:
connection=sqlite3.connect('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/OVERVIEW_SP500')
df=pd.read_sql('SELECT * FROM OVERVIEW_SP500 ',connection)
connection.close()

In [4]:
df.dftypes

AttributeError: 'DataFrame' object has no attribute 'dftypes'

In [5]:
df.dtypes

SYMBOL                           object
ASSET_TYPE                       object
NAME                             object
DESCRIPTION                      object
EXCHANGE                         object
CURRENCY                         object
COUNTRY                          object
SECTOR                           object
INDUSTRY                         object
ADDRESS                          object
FULLTIMEEMPLOYEES                object
FISCALYEAREND                    object
LATESTQUARTER                    object
MARKETCAPITALIZATION             object
EBITDA                           object
PER_RATIO                        object
PEG_RATIO                        object
BOOKVALUE                        object
DIVIDEND_PER_SHARE               object
DIVIDEND_YIELD                   object
EPS                              object
REVENUE_PER_SHARE_TTM            object
PROFIT_MARGIN                    object
OPERATING_MARGIN_TTM             object
RETURN_ON_ASSET_TTM              object
RETURN_ON_EQUITY_TTM             object
REVENUE_TTM                      object
GROSSPROFIT_TTM                  object
DILUTED_EPS_TTM                  object
QUARTERLY_EARNINGS_GROWTH_YOY    object
QUARTERLY_RENEVUE_GROWTH_YOY     object
ANALYST_TARGET_PRICE             object
TRAILING_PE                      object
FOWARD_PE                        object
PRICE_TO_SALE_RATIO_TTM          object
PRICE_TO_BOOK_RATIO              object
EV_TO_REVENUE                    object
EV_TO_EBITDA                     object
BETA                             object
C52WEEKHIGH                      object
C52WEEKLOW                       object
C50DAYMOVINGAVERAGE              object
C200DAYMOVINGAVERAGE             object
SHARES_OUTSTANDING               object
SHARES_FLOAT                     object
SHARES_SHORT                     object
SHARES_SHORTPRIORMONTH           object
SHORT_RATIO                      object
SHORT_PERCENT_OUTSTANDING        object
SHORT_PERCENT_FLOAT              object
PERCENT_INSIDERS                 object
PERCENT_INSTITUTIONS             object
FOWARD_ANNUAL_DIVIDEND_RATE      object
FOWARD_ANNUAL_DIVIDEND_YIELD     object
PAYOUT_RATIO                     object
DIVIDEND_DATE                    object
EX_DIVIDEND_DATE                 object
LAST_SPLIT_FACTOR                object
LAST_SPLIT_DATE                  object
dtype: object

In [6]:
df.read_csv('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/SP500_1.csv')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [7]:
df.head()

,SYMBOL,ASSET_TYPE,NAME,DESCRIPTION,EXCHANGE,CURRENCY,COUNTRY,SECTOR,INDUSTRY,ADDRESS,...,SHORT_PERCENT_FLOAT,PERCENT_INSIDERS,PERCENT_INSTITUTIONS,FOWARD_ANNUAL_DIVIDEND_RATE,FOWARD_ANNUAL_DIVIDEND_YIELD,PAYOUT_RATIO,DIVIDEND_DATE,EX_DIVIDEND_DATE,LAST_SPLIT_FACTOR,LAST_SPLIT_DATE
0,MMM,Common Stock,3M Company,"3M Company develops, manufactures, and markets...",NYSE,USD,USA,Industrials,Specialty Industrial Machinery,"3M Center, St. Paul, MN, United States, 55144-...",...,0.0116,0.182,69.952,5.88,0.0358,0.6606,2020-09-12,2020-08-21,2:1,2003-09-30
1,AOS,Common Stock,A. O. Smith Corporation,A. O. Smith Corporation manufactures and marke...,NYSE,USD,USA,Industrials,Specialty Industrial Machinery,"11270 West Park Place, Milwaukee, WI, United S...",...,0.0509,0.971,104.517,0.96,0.0195,0.5165,2020-08-17,2020-07-30,2:1,2016-10-06
2,ALK,Common Stock,"Alaska Air Group, Inc","Alaska Air Group, Inc., through its subsidiari...",NYSE,USD,USA,Industrials,Airlines,"19300 International Boulevard, Seattle, WA, Un...",...,0.0436,0.447,90.26,0,0.0534,2.5,2020-03-05,2020-02-14,2:1,2014-07-10
3,ALLE,Common Stock,Allegion plc,Allegion plc manufactures and sells mechanical...,NYSE,USD,USA,Industrials,Security & Protection Services,"Iveagh Court, Dublin, Ireland, 2",...,0.0438,0.346,100.893,1.28,0.0124,0.3856,2020-06-30,2020-06-15,None,None
4,AAL,Common Stock,American Airlines Group Inc,"American Airlines Group Inc., through its subs...",NASDAQ,USD,USA,Industrials,Airlines,"1 Skyview Drive, Fort Worth, TX, United States...",...,0.431,1.165,84.803,0.4,0.0313,0.1055,2020-02-19,2020-02-04,0:1,2013-12-09

In [8]:
df.to_csv(r'C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/SP500_OVERVIEW.csv', index = False)

In [9]:
df=pd.read_csv('C:/Users/ltorrado/Desktop/Apps/Finanzas/app_finance/NASDAQ_1.csv')

In [10]:
df.dtypes

SYMBOL                            object
ASSET_TYPE                        object
NAME                              object
DESCRIPTION                       object
EXCHANGE                          object
CURRENCY                          object
COUNTRY                           object
SECTOR                            object
INDUSTRY                          object
ADDRESS                           object
FULLTIMEEMPLOYEES                 object
FISCALYEAREND                     object
LATESTQUARTER                     object
MARKETCAPITALIZATION              object
EBITDA                            object
PER_RATIO                         object
PEG_RATIO                         object
BOOKVALUE                         object
DIVIDEND_PER_SHARE                object
DIVIDEND_YIELD                    object
EPS                               object
REVENUE_PER_SHARE_TTM            float64
PROFIT_MARGIN                    float64
OPERATING_MARGIN_TTM             float64
RETURN_ON_ASSET_TTM              float64
RETURN_ON_EQUITY_TTM             float64
REVENUE_TTM                        int64
GROSSPROFIT_TTM                    int64
DILUTED_EPS_TTM                  float64
QUARTERLY_EARNINGS_GROWTH_YOY    float64
QUARTERLY_RENEVUE_GROWTH_YOY     float64
ANALYST_TARGET_PRICE              object
TRAILING_PE                      float64
FOWARD_PE                        float64
PRICE_TO_SALE_RATIO_TTM          float64
PRICE_TO_BOOK_RATIO              float64
EV_TO_REVENUE                    float64
EV_TO_EBITDA                     float64
BETA                              object
C52WEEKHIGH                       object
C52WEEKLOW                        object
C50DAYMOVINGAVERAGE              float64
C200DAYMOVINGAVERAGE             float64
SHARES_OUTSTANDING                 int64
SHARES_FLOAT                       int64
SHARES_SHORT                     float64
SHARES_SHORTPRIORMONTH             int64
SHORT_RATIO                      float64
SHORT_PERCENT_OUTSTANDING        float64
SHORT_PERCENT_FLOAT              float64
PERCENT_INSIDERS                 float64
PERCENT_INSTITUTIONS             float64
FOWARD_ANNUAL_DIVIDEND_RATE      float64
FOWARD_ANNUAL_DIVIDEND_YIELD     float64
PAYOUT_RATIO                     float64
DIVIDEND_DATE                     object
EX_DIVIDEND_DATE                  object
LAST_SPLIT_FACTOR                 object
LAST_SPLIT_DATE                   object
dtype: object

In [11]:
df.groupby(['SECTOR']).describe()

                       REVENUE_PER_SHARE_TTM                                 \
                                       count       mean         std     min
SECTOR
Basic Materials                         15.0  22.921600   28.368642   0.000
Communication Services                  46.0  31.993717   57.920648   0.000
Consumer Cyclical                       67.0  44.888448   82.903867   0.000
Consumer Defensive                      32.0  80.731562  123.286174   0.000
Energy                                  18.0  10.102389    8.943285   0.464
Financial Services                     189.0  30.584741  201.282147   0.000
Healthcare                             181.0   8.065895   14.888941   0.000
Industrials                            103.0  32.972291   34.219301   0.000
Other                                  423.0   0.022234    0.351430   0.000
Real Estate                             15.0  10.020400   18.510596  -1.091
Services                                 1.0  48.410000         NaN  48.410
Technology                             140.0  15.908400   19.046866   0.000
Utilities                                4.0   3.509750    4.410063  -0.004

                                                              PROFIT_MARGIN  \
                             25%      50%       75%       max         count
SECTOR
Basic Materials          2.45700   8.7420  35.86200    87.559          15.0
Communication Services   3.10000  13.3430  26.08100   241.518          46.0
Consumer Cyclical       10.32000  23.6680  49.63300   646.798          67.0
Consumer Defensive       9.79850  24.6710  71.38125   517.439          32.0
Energy                   4.67125   7.7180  11.34825    36.351          18.0
Financial Services       4.52700   7.7250  12.53100  2693.603         189.0
Healthcare               0.08900   1.7470   8.62500    83.736         181.0
Industrials              6.23300  23.2400  48.02200   123.518         103.0
Other                    0.00000   0.0000   0.00000     6.715         423.0
Real Estate              1.79600   3.8410   6.94400    65.849          15.0
Services                48.41000  48.4100  48.41000    48.410           1.0
Technology               4.35075   8.8655  19.24500   127.091         140.0
Utilities                0.01100   2.4400   5.93875     9.163           4.0

                                  ... FOWARD_ANNUAL_DIVIDEND_YIELD          \
                            mean  ...                          75%     max
SECTOR                            ...
Basic Materials        -0.461327  ...                     0.012450  0.0409
Communication Services -0.019633  ...                     0.009925  0.9002
Consumer Cyclical      -0.031628  ...                     0.020700  0.1794
Consumer Defensive      0.011503  ...                     0.016925  0.0700
Energy                 -0.150478  ...                     0.068700  0.6377
Financial Services      0.137312  ...                     0.045500  0.2659
Healthcare             -0.259655  ...                     0.000000  0.1202
Industrials            -0.033845  ...                     0.015150  0.2079
Other                   0.000283  ...                     0.000000  0.1866
Real Estate             0.009453  ...                     0.064800  0.1025
Services                0.002100  ...                     0.000000  0.0000
Technology             -0.009049  ...                     0.008875  0.0735
Utilities               0.065500  ...                     0.028425  0.0285

                       PAYOUT_RATIO                                           \
                              count      mean       std  min     25%     50%
SECTOR
Basic Materials                15.0  0.145053  0.296701  0.0  0.0000  0.0000
Communication Services         46.0  0.197500  0.587230  0.0  0.0000  0.0000
Consumer Cyclical              67.0  0.348293  1.650019  0.0  0.0000  0.0000
Consumer Defensive             32.0  0.142134  0.320188  0.0  0.0000  0.0000
Energy                         18.0  0.868900  2.897641  0.0  0.0000  0.0000
Financial Services            189.0  0.463327  1.288398  0.0  0.0913  0.2993
Healthcare                    181.0  0.022787  0.108067  0.0  0.0000  0.0000
Industrials                   103.0  0.242302  0.640771  0.0  0.0000  0.0000
Other                         423.0  0.000000  0.000000  0.0  0.0000  0.0000
Real Estate                    15.0  1.490060  3.370755  0.0  0.0000  0.0000
Services                        1.0  0.000000       NaN  0.0  0.0000  0.0000
Technology                    140.0  0.298238  0.937237  0.0  0.0000  0.0000
Utilities                       4.0  0.386600  0.474835  0.0  0.0000  0.2875


                             75%      max
SECTOR
Basic Materials         0.148800   1.0809
Communication Services  0.000000   3.1325
Consumer Cyclical       0.258150  13.4483
Consumer Defensive      0.112825   1.2455
Energy                  0.191100  12.3280
Financial Services      0.478500  16.0000
Healthcare              0.000000   0.7431
Industrials             0.268350   4.4545
Other                   0.000000   0.0000
Real Estate             1.651500  13.3333
Services                0.000000   0.0000
Technology              0.237475   7.5000
Utilities               0.674100   0.9714

[13 rows x 240 columns]

In [12]:
df.groupby(['SECTOR']).describe(['PROFIT_MARGIN'])

TypeError: describe() takes 1 positional argument but 2 were given

In [13]:
df.groupby(['SECTOR','PROFIT_MARGIN']).describe()

                              REVENUE_PER_SHARE_TTM                            \
                                              count    mean       std     min
SECTOR          PROFIT_MARGIN
Basic Materials -2.5011                         1.0   0.935       NaN   0.935
                -2.4788                         1.0   1.100       NaN   1.100
                -1.7253                         1.0   1.268       NaN   1.268
                -0.4353                         1.0   0.000       NaN   0.000
                -0.2040                         1.0   8.742       NaN   8.742
...                                             ...     ...       ...     ...
Technology       0.4692                         1.0   4.372       NaN   4.372
                 0.5271                         1.0  11.621       NaN  11.621
Utilities        0.0000                         2.0   0.006  0.014142  -0.004
                 0.0719                         1.0   4.864       NaN   4.864
                 0.1901                         1.0   9.163       NaN   9.163

                                                               \
                                  25%     50%     75%     max
SECTOR          PROFIT_MARGIN
Basic Materials -2.5011         0.935   0.935   0.935   0.935
                -2.4788         1.100   1.100   1.100   1.100
                -1.7253         1.268   1.268   1.268   1.268
                -0.4353         0.000   0.000   0.000   0.000
                -0.2040         8.742   8.742   8.742   8.742
...                               ...     ...     ...     ...
Technology       0.4692         4.372   4.372   4.372   4.372
                 0.5271        11.621  11.621  11.621  11.621
Utilities        0.0000         0.001   0.006   0.011   0.016
                 0.0719         4.864   4.864   4.864   4.864
                 0.1901         9.163   9.163   9.163   9.163

                              OPERATING_MARGIN_TTM           ...  \
                                             count     mean  ...
SECTOR          PROFIT_MARGIN                                ...
Basic Materials -2.5011                        1.0  -1.0555  ...
                -2.4788                        1.0  -2.2444  ...
                -1.7253                        1.0  -1.5248  ...
                -0.4353                        1.0   0.0000  ...
                -0.2040                        1.0  -0.1330  ...
...                                            ...      ...  ...
Technology       0.4692                        1.0  -0.2716  ...
                 0.5271                        1.0   0.0686  ...
Utilities        0.0000                        2.0  85.7181  ...
                 0.0719                        1.0   0.1298  ...
                 0.1901                        1.0   0.3108  ...

                              FOWARD_ANNUAL_DIVIDEND_YIELD          \
                                                       75%     max
SECTOR          PROFIT_MARGIN
Basic Materials -2.5011                             0.0000  0.0000
                -2.4788                             0.0000  0.0000
                -1.7253                             0.0000  0.0000
                -0.4353                             0.0000  0.0000
                -0.2040                             0.0000  0.0000
...                                                    ...     ...
Technology       0.4692                             0.0000  0.0000
                 0.5271                             0.0078  0.0078
Utilities        0.0000                             0.0000  0.0000
                 0.0719                             0.0285  0.0285
                 0.1901                             0.0284  0.0284

                              PAYOUT_RATIO                               \
                                     count    mean  std     min     25%
SECTOR          PROFIT_MARGIN
Basic Materials -2.5011                1.0  0.0000  NaN  0.0000  0.0000
                -2.4788                1.0  0.0000  NaN  0.0000  0.0000
                -1.7253                1.0  0.0000  NaN  0.0000  0.0000
                -0.4353                1.0  0.0000  NaN  0.0000  0.0000
                -0.2040                1.0  0.0000  NaN  0.0000  0.0000
...                                    ...     ...  ...     ...     ...
Technology       0.4692                1.0  0.0000  NaN  0.0000  0.0000
                 0.5271                1.0  0.7143  NaN  0.7143  0.7143
Utilities        0.0000                2.0  0.0000  0.0  0.0000  0.0000
                 0.0719                1.0  0.9714  NaN  0.9714  0.9714
                 0.1901                1.0  0.5750  NaN  0.5750  0.5750


                                  50%     75%     max
SECTOR          PROFIT_MARGIN
Basic Materials -2.5011        0.0000  0.0000  0.0000
                -2.4788        0.0000  0.0000  0.0000
                -1.7253        0.0000  0.0000  0.0000
                -0.4353        0.0000  0.0000  0.0000
                -0.2040        0.0000  0.0000  0.0000
...                               ...     ...     ...
Technology       0.4692        0.0000  0.0000  0.0000
                 0.5271        0.7143  0.7143  0.7143
Utilities        0.0000        0.0000  0.0000  0.0000
                 0.0719        0.9714  0.9714  0.9714
                 0.1901        0.5750  0.5750  0.5750

[720 rows x 232 columns]

In [14]:
df.groupby(['SECTOR']).column(['PROFIT_MARGIN']).describe()

AttributeError: 'DataFrameGroupBy' object has no attribute 'column'

In [15]:
df.column(['PROFIT_MARGIN'])

AttributeError: 'DataFrame' object has no attribute 'column'

In [16]:
df['PROFIT_MARGIN'].groupby(['SECTOR']).describe()

KeyError: 'SECTOR'

In [17]:
df['PROFIT_MARGIN']

0      -0.1040
1      -0.0089
2      -0.3972
3       0.1427
4       0.2133
         ...
1230    0.0152
1231   -0.0218
1232   -0.0218
1233   -0.0318
1234    0.0000
Name: PROFIT_MARGIN, Length: 1235, dtype: float64

In [18]:
df['PROFIT_MARGIN','SECTOR']

KeyError: ('PROFIT_MARGIN', 'SECTOR')

In [19]:
df['PROFIT_MARGIN']['SECTOR']

KeyError: 'SECTOR'